{% extends "layouts/default.njk" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "web-security-node/components/csrf-token-input/macro.njk" import csrfTokenInput %}

{% block main_content %}

    {% set errorMessage = undefined %}
    {% if errors[packageTypeFieldName] %}
        {% set errorMessage = { 
          text: errors[packageTypeFieldName].summary,
          attributes: {
            'data-event-id': "package-accounts-what-package-accounts-are-you-submitting-error-missing-package"
          }
         } %}
    {% endif %}


  <form  method="post">
    {{
            csrfTokenInput({
                csrfToken: csrfToken
            })
    }}
    {{ 
      govukRadios({
        name: packageTypeFieldName,
        fieldset: {
          legend: {
            text: title,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        errorMessage: errorMessage,
        items: packageAccountsItems
      }) 
    }}

    {{ 
      govukButton({
        text: i18n.choose_your_package_accounts_button,
        attributes: {
            'data-event-id': "package-accounts-what-package-accounts-are-you-submitting-confirm-and-continue-button"
        }
      }) 
    }} 

  </form>

{% endblock %}
