{% extends "layouts/default.njk" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block main_content %}

  <form  method="post">
    {{ 
      govukRadios({
        name: "PackageAccounts",
        fieldset: {
          legend: {
            text: title,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: packageAccountsItems
      }) 
    }}

    {{ 
      govukButton({
        text: "Confirm and continue"
      }) 
    }} 

  </form>

{% endblock %}
