{% extends "layouts/default.njk" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block main_content %}

  {{ 
    govukRadios({
      name: "PackageAccounts",
      fieldset: {
        legend: {
          text: title,
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: packageAccountsItems
    }) 
  }}

{% endblock %}