{% extends "layouts/default.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}


{% block main_content %}

{% set address %}
    {{companyProfile.registeredOfficeAddress.addressLineOne}}
    <br/>
    {{companyProfile.registeredOfficeAddress.addressLineTwo}}
    <br/>
    {{companyProfile.registeredOfficeAddress.postalCode}}
{% endset %}

<div class="govuk-grid-row">


   <h1 class="govuk-heading-xl">{{ i18n.confirm_company_heading }}</h1>

            <h1 class="govuk-heading-l">{{companyProfile.companyName}}</h1>


 

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: i18n.confirm_company_number
      },
    value: {
            text: companyProfile.companyNumber
      }
    },
    {
      key: {
        text: i18n.confirm_company_status
      },
      value: {
        html: companyProfile.companyStatus | capitalize
      }
    },
        {
      key: {
        text: i18n.confirm_company_incorporation_date
      },
      value: {
        text: companyProfile.dateOfCreation | formatDate
      }
    },
        {
      key: {
        text: i18n.confirm_company_type
      },
      value: {
        text: companyProfile.type | formatProfileType | capitalize
      }
    },
        {
      key: {
        text: i18n.confirm_company_address
      },
      value: {
        html: address
      }
    },
        {
      key: {
        text: i18n.confirm_company_last_account_mud
      },
      value: {
      text: companyProfile.accounts.nextAccounts.periodStartOn | formatDate
      }
    },
        {
      key: {
        text: i18n.confirm_company_next_account_due
      },
      value: {
      html: companyProfile.accounts.nextDue | formatDate
      }
    }

  ]
}) }}


   {{ govukButton({
  text: i18n.confirm_company_continue,
  href: nextURL
}) }}  

<p class="govuk-body"><a class="govuk-link" href="{{ changeCompanyUrl }}">{{ i18n.confirm_company_choose_different }}</a></p>


</div>

{% endblock %}