{% extends "layout.html" %}

{% set title = "Sorry, there is a problem with this service" %}

{% block pageTitle %}
{% include "includes/page-title.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Sorry, there is a problem with this service
    </h1>

    <p class="govuk-body-m">Try again later.</p>
    <p>We have not saved your answers. When the service is available, you will have to start again.</p>

    <a href="https://www.gov.uk/contact-companies-house" data-event-id="500-error-page-contact-us">Contact Companies House</a> if you have any questions.
  </div>
</div>
{% endblock %}