{% extends "layout.html" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block pageTitle %}
 {{ SERVICE_NAME }} - GOV.UK
{% endblock %}

<!-- No service name header-->
{% block header %}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk",
    containerClasses: "govuk-width-container"})
}}
{% endblock %}

{% block signoutBar %}
{# Remove signout bar on this page by replacing it with nothing #}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Remove a company director
      </h1>

      {% if FEATURE_FLAG_REMOVE_DIRECTOR_20022023 === "true" %}
        <p class="govuk-body">Use this service to remove (terminate the appointment of) a director of a limited company on the Companies House register, including corporate directors.</p>

        {% set corporateDetails %}
        <p>This is a company, firm, or any other kind of corporate body that is appointed as the director of another company.</p>
        <p>For example, COMPANY 1 LIMITED could be the corporate director of COMPANY 2 LIMITED.</p>
        {% endset %}

        {{ govukDetails({
          summaryHtml: '<div data-event-id="start-now-accordion-expansion"> What a corporate director is</div>',
          html: corporateDetails
        }) }}

        <p class="govuk-body">You'll need:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>to sign in to or create a Companies House account</li>
          <li>the company number</li>
          <li>the <a href="https://www.gov.uk/guidance/company-authentication-codes-for-online-filing" data-event-id="start-now-company-authentication-link">company authentication code</a> </li>
          <li>the date the director was removed from the company</li>
        </ul>

        <br>
        <a href="/appoint-update-remove-company-officer/company-number" id="start-now" onclick="_paq.push(['trackGoal', '{{PIWIK_START_GOAL_ID}}'])" data-event-id="start-now-start-button" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8" data-module="govuk-button">
          Start now
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewbox="0 0 33 40" role="presentation" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
          </svg>
        </a>
      {% else %}
        <ul>
          <li>This service is not yet active</li>
        </ul>
      {% endif %}

    </div>
  </div>
{% endblock %}