{% extends "layouts/default.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block main_content %}

    {% set packageZip %}
        <p class="govuk-body">
            You must package your accounts file using a zip file format. <a href="https://www.gov.uk/government/publications/technical-interface-specifications-for-companies-house-software">Read the Technical Interface Specification</a> to find out how to structure your file.
        </p>
    {% endset %}

    <h1 class="govuk-heading-xl">
        File package accounts with Companies House
    </h1>

    <p class="govuk-body">
        Use this service to file your iXBRL package accounts with Companies House.
    </p>

    <p class="govuk-body">
        You can only file for:
    </p>

    <ul class="govuk-list govuk-list--bullet">
        <li>Community Interest Companies (CIC) - there is a £{{fees.CIC}} fee to file</li>
        <li>overseas companies - there is a £{{fees.OC}} fee to file</li>
        <li>audit exempt subsidiary accounts</li>
        <li>dormant exempt subsidiary accounts</li>
        <li>limited partnership accounts</li>
        <li>UKSEF accounts for listed companies </li>
        <li>group package accounts - section 400, parent incorporated under UK law</li>
        <li>group package accounts - section 401, parent incorporated under non-UK law</li>
        <li>Welsh accounts with an English translation</li>
    </ul>

    {{ govukInsetText({
        html: packageZip
    }) }}

    <p class="govuk-body">You'll need:</p>

    <ul class="govuk-list govuk-list--bullet">
        <li>to sign in or create a Companies House account</li>
        <li>the company name or number</li>
        <li>the company authentication code</li>
        <li>to pay the fee using a credit or debit card, if relevant</li>
    </ul>

    <br>

    <p class="govuk-body">
        This service will time out if you do not use it for 60 minutes. Your answers will not be saved.
    </p> 

    {{ govukButton({
        text: "Start now",
        href: Urls.COMPANY_SEARCH,
        classes: "govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8",
        isStartButton: true
    }) }}

    <h2 class="govuk-heading-m">
        Get help to prepare package accounts
    </h2>

    <p class="govuk-body">
        You can find details of all available taxonomies and guidance for filers and developers on the <a href="https://www.frc.org.uk/library/standards-codes-policy/accounting-and-reporting/frc-taxonomies/">Financial Reporting Council (FRC) website</a>.
    </p>

    <p class="govuk-body">
       Check if your accounts files are valid using the <a href="https://test-validator.companieshouse.gov.uk/xbrl_validate">iXBRL accounts test service</a>.
    </p>
{% endblock %}