{% extends "layouts/default.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block main_content %}
    <h1 class="govuk-heading-xl">
        Zip File Accounts Upload Service
    </h1>

    <p class="govuk-body">
        Use this service to upload your zip file accounts for validation and submission to the Companies House register.
    </p>

    <p class="govuk-body">
        You can use this service to upload:
    </p>

    <ul class="govuk-list govuk-list--bullet">
        <li>Single instance zip file accounts – if the file is valid, it will be submitted to the Companies House register</li>
        <li>Multiple instance zip file accounts – if all files are valid, they will be submitted to the Companies House register</li>
    </ul>

    {{ govukButton({
        text: "Start now",
        href: searchLink,
        classes: "govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8",
        isStartButton: true
    }) }}

    <p class="govuk-body">
        For full details and information on validation rules, email <a href="mailto:support@companieshouse.gov.uk">support@companieshouse.gov.uk</a> to request the Companies House Account Submission Guide.
    </p>

    <p class="govuk-body">
        You can find details of all available taxonomies and guidance for filers and developers on the <a href="https://www.frc.org.uk/accountants/frc-taxonomies">Financial Reporting Council (FRC) website</a>.
    </p>
{% endblock %}