{% extends "layouts/default.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block main_content %}

    {% set packageZip %}
        <p class="govuk-body">
            {{ i18n.start_page_zip_pre_link }} <a href="https://www.gov.uk/government/publications/technical-interface-specifications-for-companies-house-software" data-event-id="package-accounts-start-page-tech-spec-link">{{i18n.start_page_zip_link}}</a> {{i18n.start_page_zip_post_link}}
        </p>
    {% endset %}

    <h1 class="govuk-heading-xl">
        {{ i18n.start_page_title }}
    </h1>

    <p class="govuk-body">
        {{ i18n.start_page_service_explaination }}
    </p>

    {{ govukInsetText({
        html: packageZip
    }) }}

    <p class="govuk-body">
        {{ i18n.start_page_only_file }}
    </p>

    <ul class="govuk-list govuk-list--bullet">
        {% if not cic_disabled %}<li>{{ i18n.start_page_cic_before_cost }}{{fees.cic}} {{ i18n.start_page_cic_after_cost }}</li>{% endif %}
        {% if not overseas_disabled %}<li>{{ i18n.start_page_overseas_before_cost }}{{fees.overseas}}{{ i18n.start_page_overseas_after_cost }}</li>{% endif %}
        {% if not audit_exempt_disabled %}<li>{{ i18n.start_page_audit_exempt }}</li>{% endif %}
        {% if not dormant_disabled %}<li>{{ i18n.start_page_dormant }}</li>{% endif %}
        {% if not limited_disabled %}<li>{{ i18n.start_page_limited }}</li>{% endif %}
        <li>{{ i18n.start_page_uksef }} </li>
        {% if not group_400_disabled %}<li>{{ i18n.start_page_400 }}</li>{% endif %}
        {% if not group_401_disabled %}<li>{{ i18n.start_page_401 }}</li>{% endif %}
        {% if not welsh_disabled %}<li>{{ i18n.start_page_welsh }}</li>{% endif %}
    </ul>

    <p class="govuk-body">{{ i18n.start_page_youll_need }}</p>

    <ul class="govuk-list govuk-list--bullet">
        <li>{{ i18n.start_page_youll_need_zip_file }}</li>
        <li>{{ i18n.start_page_youll_need_signin }}</li>
        <li>{{ i18n.start_page_youll_need_company_name }}</li>
        <li>{{ i18n.start_page_youll_need_code }}</li>
        {% if (not cic_disabled) or (not overseas_disabled) %}<li>{{ i18n.start_page_youll_need_payment }}</li>{% endif %}
    </ul>

    <br>

    <p class="govuk-body">
        {{ i18n.start_page_timeout }}
    </p> 
    {{ govukButton({
        text: i18n.continue if isChsRouteIn else i18n.file_package_accounts,
        href: nextURL,
        classes: "govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8",
        isStartButton: true,
        attributes: {
            onclick: '_paq.push(["trackGoal", '+PIWIK_START_GOAL_ID+']);'
        }
    }) }}
    <h2 class="govuk-heading-m">
        {{ i18n.start_page_prepare }}
    </h2>

    <p class="govuk-body">
        {{ i18n.start_page_frc_pre_link }} <a href="https://www.frc.org.uk/library/standards-codes-policy/accounting-and-reporting/frc-taxonomies/" data-event-id="package-accounts-start-page-frc-link">{{ i18n.start_page_frc_link }}</a>.
    </p>

    <p class="govuk-body">
       {{ i18n.start_page_check_ixbrl_pre_link }} <a href={{ submitValidationUrl }} data-event-id="package-accounts-start-page-ixbrl-accounts-test-service">{{ i18n.start_page_check_ixbrl_link }}</a>.
    </p>
{% endblock %}