{% extends "layouts/default.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "web-security-node/components/csrf-token-input/macro.njk" import csrfTokenInput %}

{% block main_content %}

    <h1 class="govuk-heading-l">
        {{ i18n.before_you_file_heading }}
    </h1>

    <p class="govuk-body">
        {{ i18n.before_you_file_body }}
    </p>

    <form method="POST">
        {{ govukButton({
            text: i18n.continue,
            classes: "",
            isStartButton: false,
            attributes: {
                'data-event-id': 'package-accounts-before-file-package-page-continue'
            },
            type: "submit"
        }) }}
    </form>

{% endblock %}