<header class="govuk-header" data-module="header">
    <div class="govuk-header__container govuk-width-container">
        {% include "partials/banner.njk" %}
    </div>
</header>
<div class="govuk-width-container">
    <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
            <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
            <span class="govuk-phase-banner__text">
          {{ i18n.new_service_prefix }} <a class="govuk-link" href="{{feedbackLink}}" data-event-id="package-accounts-feedback-link">{{ i18n.feedback }}</a> {{ i18n.new_service_postfix }}
      </span>
        </p>
    </div>
    {% if isSignedIn or backURL !== null %} 
        {% include "partials/signout-bar.njk" %}
    {% endif %}
</div>