{% from "govuk/components/cookie-banner/macro.njk"  import govukCookieBanner %}

{% set html %}
  <p>{{i18n.essential_cookies_banner}}</p>
  <p>{{i18n.analytics_cookies_banner}}</p>
{% endset %}

{% set acceptHtml %}
  <p>{{ i18n.accepted_analytics_cookies }} {{ i18n.cookies_you_can }} <a class="govuk-link" 
  href="{{ chsUrl }}/help/cookies">{{ i18n.change_cookie_settings }}</a> {{ i18n.cookies_at_any_time }}</p>
{% endset %}

{% set rejectHtml %}
  <p>{{ i18n.rejected_analytics_cookies }} {{ i18n.cookies_you_can }} <a class="govuk-link" href="{{ chsUrl }}/help/cookies">
  {{ i18n.change_cookie_settings }}</a> {{ i18n.cookies_at_any_time }}</p>
{% endset %}

{{ govukCookieBanner({
  ariaLabel: i18n.cookies_header,
  attributes: {
    id: "cookie-banner"
  },
  hidden: true,
  messages: [
    {
      headingText: i18n.cookies_header,
      attributes: {
      id: "accept-or-reject-message"
    },
      hidden: true,
      html: html,
      actions: [
      {
        text: i18n.accept_analytic_cookies,
        type: "button",
        name: "cookies",
        value: "accept",
        attributes: {
        id: "accept-cookies-button"
      }
      },
      {
        text: i18n.reject_analytic_cookies,
        type: "button",
        name: "cookies",
        value: "reject",
        attributes: {
        id: "reject-cookies-button"
      }
      },
      {
        text: i18n.view_cookies,
        href: chsUrl + "/help/cookies"
      }
    ]
    },
    {
      html: acceptHtml,
      role: "alert",
      attributes: {
      id: "accepted-cookies-message"
    },
      hidden: true,
      actions: [
      {
        text: i18n.cookies_hide,
        type: "button",
        name: "hide",
        value: "hide",
        attributes: {
        id: "hide-accepted-message-button"
      }
      }
    ]
    },
    {
      html: rejectHtml,
      role: "alert",
      attributes: {
      id: "rejected-cookies-message"
    },
      hidden: true,
      actions: [
      {
        text: i18n.cookies_hide,
        type: "button",
        name: "hide",
        value: "hide",
        attributes: {
        id: "hide-rejected-message-button"
      }
      }
    ]
    }
  ]
}) }}

<noscript>
  {{ govukCookieBanner({
    ariaLabel: i18n.cookies_header,
    messages: [
      {
        headingText: i18n.cookies_header,
        text: i18n.cookies_no_js
      }
    ]
  }) }}
</noscript>
