{% set backButtonDataEventId = "package-accounts-back-button-"+title %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <a class="govuk-back-link" href="{{ backURL }}" style="{{'visibility: hidden;' if title == "Accounts Submitted"}}" data-event-id="{{backButtonDataEventId | replace(" ", "-")}}">{{i18n.back}}</a>
    </div>
    <div class="govuk-grid-column-one-half govuk-!-text-align-right govuk-!-static-margin-top-3">
        <a class="govuk-link" href="{{ signoutURL }}" data-event-id="signout" id="user-signout">{{i18n.sign_out}}</a>
    </div>
</div>
<script src="{{ assetPath }}/javascripts/app/session-timeout.js"></script>
<div class="govuk-section-break govuk-section-break--visible"></div>
