{% extends "layouts/default.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "web-security-node/components/csrf-token-input/macro.njk" import csrfTokenInput %}

{% block main_content %}
    <h1 class="govuk-heading-l">Check your answers </h1>

            {{ govukSummaryList({
        classes: [
          "govuk-!-margin-bottom-9"
          ],
        rows: [
          {
            key: {
              text: "Type of accounts"
            },
            value: {
              text: typeOfAccounts
            },
            actions: {
              items: [
                {
                  href: Urls.CHOOSE_YOUR_ACCOUNTS_PACKAGE,
                  text: "Change",
                  visuallyHiddenText: "type of accounts",
                  attributes: {
                    'data-event-id': "package-filing-check-your-answers-choose-type-of-accounts-link"
                  }
                }
              ]
            }
          },
          {
            key: {
              text: "File uploaded"
            },
            value: {
              text: fileName
            },
            actions: {
              items: [
                {
                  href: changeTypeOfAccountsUrl,
                  text: "Change",
                  visuallyHiddenText: "file uploaded",
                  attributes: {
                    'data-event-id': "package-filing-check-your-answers-change-file-link"
                  }
                }
              ]
            }
          }
        ]
      }) }}

    <form method="POST" action="{{Urls.CHECK_YOUR_ANSWERS}}">
        {{
            csrfTokenInput({
                csrfToken: csrfToken
            })
        }}
        {{ govukButton({
            text: "Submit accounts",
            type: "submit",
            attributes: {
              'data-event-id': "package-filing-check-your-answers-submit-botton"
            }
        }) }}
    </form>

{% endblock %}