{% extends "layouts/default.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "web-security-node/components/csrf-token-input/macro.njk" import csrfTokenInput %}

{% block main_content %}
    <h1 class="govuk-heading-l">{{ i18n.check_your_answers }} </h1>

            {{ govukSummaryList({
        classes: [
          "govuk-!-margin-bottom-9"
          ],
        rows: [
          {
            key: {
              text: i18n.type_of_package_accounts
            },
            value: {
              text: typeOfAccounts
            },
            actions: {
              items: [
                {
                  href: Urls.CHOOSE_YOUR_ACCOUNTS_PACKAGE,
                  text: i18n.change,
                  visuallyHiddenText: "type of accounts",
                  attributes: {
                    'data-event-id': "package-filing-check-your-answers-choose-type-of-accounts-link"
                  }
                }
              ]
            }
          },
          {
            key: {
              text: i18n.file_uploaded
            },
            value: {
              text: fileName
            },
            actions: {
              items: [
                {
                  href: changeTypeOfAccountsUrl,
                  text: i18n.change,
                  visuallyHiddenText: "file uploaded",
                  attributes: {
                    'data-event-id': "package-filing-check-your-answers-change-file-link"
                  }
                }
              ]
            }
          }
        ]
      }) }}

    <form method="POST" action="{{Urls.CHECK_YOUR_ANSWERS}}">
        {{
            csrfTokenInput({
                csrfToken: csrfToken
            })
        }}
        {{ govukButton({
            text: i18n.submit_accounts,
            type: "submit",
            attributes: {
              'data-event-id': "package-filing-check-your-answers-submit-botton"
            }
        }) }}
    </form>

{% endblock %}