{% set html %}
<h3 class="govuk-notification-banner__heading" id="file-not-valid-title">Your package accounts zip file is not valid</h3>

<p class="govuk-body">
    Your file '{{ result.fileName }}' is not valid because:
</p>
<ul class="govuk-list govuk-list--bullet">
    {% for error in result.result.errorMessages %}
        <li class="wrap-overflow">{{ error.errorMessage }}</li>
    {% endfor %}
</ul>
{% endset %}

{{ govukNotificationBanner({
    titleText: 'Failure',
    classes: 'govuk-notification-banner--failure word-break',
    html: html
}) }}

<h2 class="govuk-heading-m">What to do next</h2>

<p class="govuk-body">
    Your software provider should provide you with guidance on preparing package accounts.
</p>

<p class="govuk-body">
   You will then need to <a class="govuk-link" href='{{ backURL }}' data-event-id="package-accounts-failed-update-your-account-link"> upload your updated package accounts zip file</a>
</p>
