{% set html %}
<h3 class="govuk-notification-banner__heading" id="file-not-valid-title">{{ i18n.failed_heading }}</h3>

<p class="govuk-body">
    {{ i18n.failed_desc1 }} '{{ result.fileName }}' {{ i18n.failed_desc2 }}
</p>
<ul class="govuk-list govuk-list--bullet">
    {% for error in result.result.errorMessages %}
        <li class="wrap-overflow">{{ error.errorMessage }}</li>
    {% endfor %}
</ul>
{% endset %}

{{ govukNotificationBanner({
    titleText: i18n.failed_title,
    classes: 'govuk-notification-banner--failure word-break',
    html: html
}) }}

<h2 class="govuk-heading-m">{{ i18n.failed_solution }}</h2>

<p class="govuk-body">
    {{ i18n.failed_solution_desc }}
</p>

<p class="govuk-body">
   {{ i18n.failed_solution_desc2 }} <a class="govuk-link" href='{{ backURL }}' data-event-id="package-accounts-failed-update-your-account-link">{{ i18n.failed_solution_desc3 }}</a>
</p>
