{% from "govuk/components/button/macro.njk" import govukButton %}

{% set html %}
<h3 class="govuk-notification-banner__heading" id="file-valid-title">{{ i18n.succeeded_heading }}</h3>

    <p>
        {{ i18n.succeeded_desc1 }} '{{result.fileName}}' {{ i18n.succeeded_desc2 }}
    </p>

{% endset %}

{{ govukNotificationBanner({
    titleText: i18n.succeeded_title,
    classes: "word-break",
    type: 'success',
    html: html
}) }}

{{ govukButton({
    text: i18n.succeeded_continue,
    href: Urls.CHECK_YOUR_ANSWERS,
    attributes: {
        'data-event-id': 'package-accounts-success-continue-button'
    }
}) }}