{% from "govuk/components/button/macro.njk" import govukButton %}

{% set html %}
<h3 class="govuk-notification-banner__heading">
    Your file is valid
</h3>

{% if isReviewNeeded %}
    <p>
        Your accounts file '{{result.fileName}}' meets the iXBRL specification.
        We'll check it meets business validation rules when you submit your accounts file. We'll email you to confirm if it's accepted or rejected.
    </p>
{% else %}
    <p>
        Your accounts file '{{result.fileName}}' meets the iXBRL specification and business validation rules.
    </p>
{% endif %}

{% endset %}

{{ govukNotificationBanner({
    titleText: 'Success',
    classes: "word-break",
    type: 'success',
    html: html
}) }}

{{ govukButton({
    text: "Continue",
    href: Urls.CHECK_YOUR_ANSWERS
}) }}