{% from "govuk/components/button/macro.njk" import govukButton %}

{% set html %}
<h3 class="govuk-notification-banner__heading" id="file-valid-title">Your file is valid</h3>

<p>
    Your accounts file '{{result.fileName}}' meets the iXBRL specification and business validation rules.
</p>

{% endset %}

{{ govukNotificationBanner({
    titleText: 'Success',
    classes: "word-break",
    type: 'success',
    html: html
}) }}

{{ govukButton({
    text: "Continue",
    href: Urls.CHECK_YOUR_ANSWERS
}) }}