{% extends "layouts/default.njk" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block main_content %}
    {{ govukPanel({
        titleText: i18n.accounts_submitted,
        html: i18n.your_reference_is + "<br><strong>" + accountsFilingId + "</strong>"
    }) }}

    {{ govukTable({
        firstCellIsHeader: true,
        rows: rows
    })

    }}

    <p class="govuk-body">{{ i18n.we_have_sent_a_confirmation_to }} <span class="govuk-!-font-weight-bold">{{ userEmail }}</span></p>

    <h2 class="govuk-heading-m">{{ i18n.what_happens_next }}</h2>

    <p class="govuk-body">{{ i18n.processing_message }}</p>
    <p class="govuk-body">{{ i18n.accounts_rejected }}</p>

    <h2 class="govuk-heading-m">{{ i18n.file_more_package_accounts }}</h2>
    <p class="govuk-body"><a href={{ Urls.CHOOSE_YOUR_ACCOUNTS_PACKAGE }} data-event-id="package-filing-confirmation-submission-file-for-same-company-link">{{ i18n.file_more_package_accounts_for }} {{companyProfile.companyName}} ({{companyProfile.companyNumber}})</a></p>
    <p class="govuk-body"><a href={{ Urls.COMPANY_SEARCH }} data-event-id="package-filing-confirmation-submission-file-for-different-company-link">{{ i18n.file_for_different_company }}</a></p>
{% endblock %}